@use "variables" as *;

:host {
  @include center;
  background-color: $primary-color;
}

h1 {
  @include display;
  text-align: center;
  max-width: 320px;
}

a {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  @include cta($primary-color);
  text-decoration: none;
  background-color: $white;
  border-radius: $sz-4;
  padding: $sz-8 0;
  width: 280px;
}

.actions {
  display: flex;
  flex-direction: column;
  gap: $sz-16;
}
