<hsa-navbar />
<h1>Atendimentos</h1>
@if(false){
<div class="datetime">
  <p>23/06/2026</p>
  <p>10:20</p>
</div>

<div class="interaction">
  <label for="parecer_medico">Adicionar parecer medico</label>
  <textarea id="parecer_medico"></textarea>
  <button>Adicionar Parecer</button>
</div>

<div class="pacient_data">
  <div class="classification">
    <p>Classificação de risco:</p>
    <span class="indicator lvl1">Emergência</span>
  </div>
  <div class="data_group">
    <p>Nome do Paciente:</p>
    <p>Marcelo Borges</p>
  </div>
  <div class="data_group">
    <p>CPF:</p>
    <p>999.999.999-99</p>
  </div>
  <div class="data_group">
    <p>Data de nascimento:</p>
    <p>30/06/1986</p>
  </div>
  <div class="data_group">
    <p>Genero:</p>
    <p>Masculino</p>
  </div>
  <div class="data_group">
    <p>Peso:</p>
    <p>72Kg</p>
  </div>
  <div class="data_group">
    <p>Altura:</p>
    <p>1,80m</p>
  </div>
  <div class="data_group">
    <p>Sintomas</p>
    <p>...</p>
  </div>
  <div class="data_group">
    <p>Oximetria</p>
    <p>97%</p>
  </div>
  <div class="data_group">
    <p>Pressão:</p>
    <p>12/8</p>
  </div>
  <div class="data_group">
    <p>Temperatura Corporal:</p>
    <p>37,8ºC</p>
  </div>
  <div class="data_group">
    <p>Parecer Técnico:</p>
    <p>...</p>
  </div>
</div>
} @else {
<img
  ngSrc="assets/treatment_illustration.svg"
  height="260"
  width="260"
  alt="Obter mais um atendimento"
/>
<h2>Você finalizou seu atendimento</h2>
<button>Iniciar Novo Atendimento</button>
}
