<h1>Fila de espera</h1>
<div class="pacients_queue">
  <div class="pacient">
    <span class="indicator lvl5">1</span>
    <p>Paciente 1</p>
  </div>
  <div class="pacient">
    <span class="indicator lvl4">2</span>
    <p>Paciente 2</p>
  </div>
  <div class="pacient">
    <span class="indicator lvl3">3</span>
    <p>Paciente 3</p>
  </div>
  <div class="pacient">
    <span class="indicator lvl2">4</span>
    <p>Paciente 4</p>
  </div>
  <div class="pacient">
    <span class="indicator lvl1">5</span>
    <p>Paciente 5</p>
  </div>
</div>
