<hsa-navbar />
<h1>Fila de espera</h1>
<div class="pacients_queue">
  @for(pacient of (queue | async)?.data; track pacient.fila_id) {
  <div class="pacient">
    <span
      class="indicator"
      [class.lvl1]="pacient.nivel === 'vermelho'"
      [class.lvl2]="pacient.nivel === 'laranja'"
      [class.lvl3]="pacient.nivel === 'amarelo'"
      [class.lvl4]="pacient.nivel === 'verde'"
      [class.lvl5]="pacient.nivel === 'azul'"
    >
      {{ $index + 1 }}
    </span>
    <p>{{ pacient.nome }}</p>
    @if(pacient.prioridade === 'preferencial'){
    <img
      ngSrc="assets/svg/person_alert.svg"
      height="16"
      width="16"
      alt="Prioridade"
    />
    }
  </div>
  }
</div>
