@use "variables" as *;
@use "form" as *;

:host {
  @include center;
}

h1 {
  @include display($primary-color);
}

.button_register {
  color: $primary-color;
  background-color: $white;
  border: 1px solid $primary-color;
  margin-top: 0;
  width: clamp(280px, 80%, 480px);
}
