<h1>Atendimento solicitado com sucesso!</h1>
<p>
  Estamos encaminhado você ao um atendimento personalizadoo. Aguarde que você
  será atendido em breve!
</p>

<p class="feedback_tag">Urgente</p>

<div class="pacient_data">
  <div class="data_field">
    <p>Nome do paciente</p>
    <p>Retorno da api...</p>
  </div>
  <div class="data_field">
    <p>Data de Nascimento</p>
    <p>Retorno da api...</p>
  </div>
  <div class="data_field">
    <p>Altura</p>
    <p>Retorno da api...</p>
  </div>
  <div class="data_field">
    <p>Sintomas relatados</p>
    <p>Retorno da api...</p>
  </div>
</div>
