@use "variables" as *;

form,
.form_control {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

form {
  gap: $sz-16;
  width: clamp(280px, 80%, 480px);
}

.form_control {
  gap: $sz-2;

  &:has(input.ng-invalid.ng-touched) label {
    color: $emergency-tag-1;
  }
}

label {
  color: $primary-color;
  font-size: $sz-14;
  font-weight: 700;
}

input,
textarea {
  color: $primary-color;
  font-size: $sz-14;

  padding: $sz-8;
  border: 1px solid $primary-color;
  border-radius: $sz-4;
  outline: none;

  &.ng-invalid.ng-touched {
    border: 1px solid $emergency-tag-1;
  }

  &:focus {
    border: 1px solid $secondary-color;
  }

  &::placeholder {
    color: $gray;
  }
}

textarea {
  padding: $sz-4 $sz-8;
  min-height: $sz-64;
  height: fit-content;
}

a {
  @include links;
}

button {
  @include cta;
  background-color: $primary-color;
  border: 1px solid $primary-color;
  border-radius: $sz-4;
  outline: none;

  margin-top: $sz-16;
  padding: $sz-8 0;
  width: 100%;
  cursor: pointer;

  &:disabled {
    background-color: $gray;
    border: 1px solid $gray;
  }
}
