@use "variables" as *;

.p-calendar {
  width: 100%;

  input {
    color: $primary-color;
    font-size: $sz-14;

    padding: 0 $sz-8;
    border: 1px solid $primary-color;
    border-radius: $sz-4;
    padding: $sz-8;
  }

  .p-datepicker {
    transform: translateY(50%);
  }
}
