@use "variables" as *;

.form_control:has(p-calendar.ng-invalid.ng-touched) label {
  color: $emergency-tag-1;
}

.form_control p-calendar.ng-invalid.ng-touched input {
  border: 1px solid $emergency-tag-1;
}

.p-calendar {
  width: 100%;

  input {
    color: $primary-color;
    font-size: $sz-14;

    padding: 0 $sz-8;
    border: 1px solid $primary-color;
    border-radius: $sz-4;
    padding: $sz-8;
  }

  .p-datepicker {
    transform: translateY(50%);
  }
}
