// COLORS
$primary-color: #1222bf;
$secondary-color: #d1eaff;

$gray: #676da4;
$white: #fff;

// SIZES
$sz-2: 0.125rem;
$sz-4: 0.25rem;
$sz-8: 0.5rem;
$sz-12: 0.75rem;
$sz-14: 0.875rem;
$sz-16: 1rem;
$sz-20: 1.25rem;
$sz-24: 1.5rem;
$sz-32: 2rem;
$sz-64: 4rem;

$emergency-tag-1: #ec0e47;
$emergency-tag-2: #ee6c3b;
$emergency-tag-3: #fcbf54;
$emergency-tag-4: #14c285;
$emergency-tag-5: #196eac;

// FONT VARIABLES
@mixin display($color: $white) {
  color: $color;
  font-size: $sz-32;
  font-weight: 700;
}

@mixin subtitle($color: $gray) {
  color: $color;
  font-size: $sz-20;
  font-weight: 700;
}

@mixin cta($color: $white) {
  color: $color;
  font-size: $sz-16;
  font-weight: 700;
}

@mixin body($color: $gray) {
  color: $gray;
  font-size: $sz-14;
  font-weight: 400;
}

// DISPLAY VARIABLES
@mixin center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: $sz-16;

  padding: $sz-32;
  min-height: 100dvh;
}

@mixin start {
  display: flex;
  flex-direction: column;
  gap: $sz-24;

  padding: $sz-32;
  min-height: 100dvh;
}

@mixin links {
  color: $gray;
  font-size: $sz-12;
  font-weight: 700;
  text-decoration: none;

  transition: 0.3s;
  cursor: pointer;

  &:hover {
    color: $primary-color;
    text-decoration: underline;
  }
}

@mixin details {
  color: $white;
  font-size: $sz-12;
  line-height: $sz-12;
  font-weight: 700;
  text-decoration: none;
}

@mixin tags {
  &.lvl1 {
    background-color: $emergency-tag-1;
  }
  &.lvl2 {
    background-color: $emergency-tag-2;
  }
  &.lvl3 {
    background-color: $emergency-tag-3;
  }
  &.lvl4 {
    background-color: $emergency-tag-4;
  }
  &.lvl5 {
    background-color: $emergency-tag-5;
  }
}
