@use "variables" as *;

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: $sz-16;

  min-height: 100dvh;
  background-color: $primary-color;
}

h1 {
  @include display;
  text-align: center;
  max-width: 320px;
}
